<!DOCTYPE html>
<!--


   _|_|_|    _|_|    _|_|_|    _|_|_|    _|_|_|      _|_|_|    _|_|_|    _|_|_|
 _|        _|    _|  _|    _|  _|    _|  _|    _|  _|    _|  _|_|      _|_|
 _|        _|    _|  _|    _|  _|    _|  _|    _|  _|    _|      _|_|      _|_|
   _|_|_|    _|_|    _|    _|  _|    _|  _|_|_|      _|_|_|  _|_|_|    _|_|_|
                                         _|
                                         _|
-->
<html lang="ja" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml">
<head>

<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta http-equiv="content-style-type" content="text/css; charset=utf-8" />
<meta name="keywords" content="connpass,コンパス,イベント,IT勉強会,検索,開催,募集,参加,ソーシャル連携,アクセス解析,手数料無料" />
<meta name="description" content="KeisukeKogureさんのプロフィールと申し込みをしたイベントの一覧です。" />
<title>KeisukeKogureさんのプロフィール（申し込みイベント一覧） - connpass</title>


<link type="text/css" href="https://connpass.com/static/css/connpass.css?20170515100804
" rel="stylesheet" media="all" />




<!-- Google+ Page -->
<link href="https://plus.google.com/106041817090493633309/" rel="publisher" />


<meta property="og:type" content="website" />
<meta property="og:site_name" content="connpass" />
<meta property="fb:app_id" content="259235460759625" />

<meta property="og:url" content="https://connpass.com/user/KeisukeKogure/" />

<meta property="og:image" content="https://connpass.com/static/img/468_468.png" />

<meta itemprop="image" content="https://connpass.com/static/img/72_72.png" />

<meta property="og:title" content="connpass - エンジニアをつなぐIT勉強会支援プラットフォーム" />
<meta property="og:description" content="connpassはイベントやIT勉強会の開催、さらに参加者の集客に便利です。コミュニティやグループの運営やイベントの検索、事前決済もできます。" />
<meta itemprop="name" content="connpass - エンジニアをつなぐIT勉強会支援プラットフォーム" />
<meta itemprop="description" content="connpassはイベントやIT勉強会の開催、さらに参加者の集客に便利です。コミュニティやグループの運営やイベントの検索、事前決済もできます。" />






<script type="text/javascript">
  
  var _ravenQueue = [];
  window.onerror = function(message, file, lineNumber) {
    var msg = lineNumber ? message + " at " + lineNumber : message;
      _ravenQueue.push({message: msg, culprit: file});
  };
</script>



<link rel="shortcut icon" href="https://connpass.com/static/img/favicon.ico" type="image/vnd.microsoft.icon" />
<link rel="apple-touch-icon-precomposed" href="https://connpass.com/static/img/apple_touch_icon.png" />

<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">

<script type="text/javascript">
  if (typeof console == "undefined") {window.console={log: function () {}};console.warn = console.debug = console.log;}
</script>

<script type="text/javascript">
  function cst(cat, evt, targetUrl) {
    if (window._gaq) {
      _gaq.push(['_trackSocial', cat, evt, targetUrl]);
    } else {
      console.log("trackSocial(" + cat + ", " + evt + ", " + targetUrl + ")");
    }
  };
  function cet(cat, evt, label, value, non_interaction) {
    if (!label) {
      label = 'None';
    }
    if (window._gaq) {
      _gaq.push(['_trackEvent', cat, evt, label, value, non_interaction]);
    } else {
      console.log("trackEvent(" + cat + ", " + evt + ", " + label + ", " + value + ", " + non_interaction + ")");
    }
  };
  function tol(link, cat, evt, label, value, non_interaction) {
    cet(cat, evt, label, value, non_interaction);
    if (link) {
      var func;
      if (link.href) {
        func = function() {
          document.location.href = link.href;
        };
      } else {
        if (link.submit) {
          func = function() {
            link.submit();
          };
        } else {
          if (link.form) {
            func = function() {
              link.form.submit();
            };
          }
        }
      }
      if (func) {
        setTimeout(func, 100);
      }
    }
  };
</script>



<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-26036000-1']);
  _gaq.push(['_setDomainName', 'connpass.com']);
  _gaq.push(['_setCustomVar', 1, 'Authenticated', 'false', 1]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>


<script language="JavaScript" type="text/javascript" charset="UTF-8" src="//cdn.bigmining.com/private/media/js/connpass_bigmining.js"></script>


  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

</head>

<body class="page_profile">

<div id="wrapper" class="lang_ja">

  <div id="header">
    <div class="container clearfix">
      <h1><a href="https://connpass.com/" title="connpass - エンジニアをつなぐIT勉強会支援プラットフォーム"><img src="https://connpass.com/static/img/common/sitelogo_266x132_bp.png" alt="connpass - エンジニアをつなぐIT勉強会支援プラットフォーム" height="66"></a></h1>

      
        <form action="https://connpass.com/search/" method="GET" id="header_event_search_form">
          <div class="header_search">
            <input type="text" class="form_input_text" name="q" id="id_q" value="" placeholder="イベント検索">
            <button type="submit" class="btn btn_default btn_size_small"><img src="https://connpass.com/static/img/common/icon_search.png" alt="イベント検索"></button>
          </div>
        </form>
      

      
        <div class="header_nav_contents">
          <ul>
          
            <li><a href="https://connpass.com/#category_link_list">カテゴリ一覧</a></li>
          
            <li><a href="https://connpass.com/explore/">新着イベント</a></li>
          </ul>
        </div>
        
          
            <div class="header_nav_login">
              <a class="btn btn_default login" href="https://connpass.com/login/">ログイン・新規登録</a>
            </div>
          
        
      


    </div>
  </div>
  



  






<div id="contents" class="container main_side_column clearfix">
  <div id="flash_message_area" style="display: none;">
    
  </div>

  
  <div class="clearfix">
    
      
      <div id="main">
        
<div class="profile_header_area mb_20 clearfix">
  <h2 class="title_2">
    KeisukeKogure<br>
    <span class="username">(KeisukeKogure)</span>
    
  </h2>
  <div class="clearfix">
    <span class="social_link">
      
      <a href="http://twitter.com/keysket" target="_blank" title="Twitterを見る"><img src="https://connpass.com/static/img/common/icon_twitter.png" alt="Twitterを見る"></a>
      

      
      <a href="https://www.facebook.com/app_scoped_user_id/1431545096/" target="_blank" title="Facebookを見る"><img src="https://connpass.com/static/img/common/icon_facebook.png" alt="Facebookを見る"></a>
      

      
      <img src="https://connpass.com/static/img/common/icon_gray_github.png" alt="GitHubと連携していません">
      
    </span>
    <span class="profile_date">利用開始日: 2015/04/03</span>
  </div>

  <p>HSD 2008 J2 C<br />OVAL Seoul 2011 staff <br />OVAL Tokyo 2012　Design Manager<br /><br />Twitter @keysket</p>

</div>


  
  
    <div class="your_group_area mb_20">
      <div class="round_box">
        <h3 class="round_box_title"><span class="icon_black_group">所属グループ</span></h3>
        <div class="round_box_inner clearfix">
          <ul class="thumb100_block">
          
            <li><a href="https://svmeetup.connpass.com/" title="Skyland Ventures Meetup">
              
                <div class="thumbnail_img image_bg" style="background-image: url(https://connpass-tokyo.s3.amazonaws.com/thumbs/fa/76/fa76997158c211957939ee969df9e168.png);"></div>
              
              <p class="group_title">Skyland Ventures Meetup</p>
            </a></li>
          
            <li><a href="https://pedia.connpass.com/" title="Pedia／ペディア">
              
                <div class="thumbnail_img image_bg" style="background-image: url(https://connpass-tokyo.s3.amazonaws.com/thumbs/be/96/be96b6ce7f3db8b1e2ea83c28b6bedd1.png);"></div>
              
              <p class="group_title">Pedia／ペディア</p>
            </a></li>
          
            <li><a href="https://base.connpass.com/" title="BASE">
              
                <div class="thumbnail_img image_bg" style="background-image: url(https://connpass-tokyo.s3.amazonaws.com/thumbs/5e/e6/5ee6cafc70b4a1f47c5c74e8d97c07c1.png);"></div>
              
              <p class="group_title">BASE</p>
            </a></li>
          
            <li><a href="https://fintech-engineers-drink-up.connpass.com/" title="FinTech Engineers Drink Up">
              
                <div class="thumbnail_img image_bg" style="background-image: url(https://connpass-tokyo.s3.amazonaws.com/thumbs/ae/09/ae0970851c97b0ac0f959f622d8abd5b.png);"></div>
              
              <p class="group_title">FinTech Engineers Drink Up</p>
            </a></li>
          
            <li><a href="https://cshack.connpass.com/" title="CS HACK">
              
                <div class="thumbnail_img image_bg" style="background-image: url(https://connpass-tokyo.s3.amazonaws.com/thumbs/b5/b7/b5b762b98c538fbc5971876671d1f1cd.png);"></div>
              
              <p class="group_title">CS HACK</p>
            </a></li>
          
            <li><a href="https://jeek.connpass.com/" title="JEEK / ジーク">
              
                <div class="thumbnail_img image_bg" style="background-image: url(https://connpass-tokyo.s3.amazonaws.com/thumbs/82/06/8206933199dce2ffc18d5fe86bd7ef2b.png);"></div>
              
              <p class="group_title">JEEK / ジーク</p>
            </a></li>
          
            <li><a href="https://fashion-tech.connpass.com/" title="Fashion Tech meetup">
              
                <div class="thumbnail_img image_bg" style="background-image: url(https://connpass.com/static/img/common/no_image_162x110_g.png);"></div>
              
              <p class="group_title">Fashion Tech meetup</p>
            </a></li>
          
          </ul>
        </div>
      </div>
    </div>
  

  <ul class="square_tab tab_length_four_parts clearfix mb_15">
    <li>
      
        <span>参加
          <span class="num">15</span>
        </span>
      
    </li>
    <li>
      
        <a href="https://connpass.com/user/KeisukeKogure/open/">管理
          <span class="num">0</span>
        </a>
      
    </li>
    <li>
      
        <a href="https://connpass.com/user/KeisukeKogure/presentation/">発表
          <span class="num">0</span>
        </a>
      
    </li>

    <li>
      
        <a href="https://connpass.com/user/KeisukeKogure/bookmark/">ブックマーク
          <span class="num">0</span>
        </a>
      
    </li>
  </ul>

  
  <div class="event_area mb_10">
    
      

<div class="event_list vevent">
  
  <div class="event_schedule_area">
    <p class="year">2017</p>
    <p class="date">05/30</p>
    （火）
    <span class="dtstart"><span class="value-title" title="2017-05-30T10:30:00Z"></span></span>
    <span class="dtend"><span class="value-title" title="2017-05-30T12:30:00Z"></span></span>
  </div>
  
  <div class="event_detail_area clearfix">
    <div class="event_label_area">
      <p class="time">19:30〜</p>
      
        
        
        
        
        
        <p class="label_status_tag lottery">抽選中</p>
      
    </div>
    <div class="event_inner">
      <p class="event_thumbnail">
        <a class="image_link" href="https://base.connpass.com/event/57015/">
          
            <img class="photo" src="https://connpass-tokyo.s3.amazonaws.com/thumbs/bc/0a/bc0abab637d936106e8631e56378ba54.png" width="108" height="72" alt="Paymentgeek Night #1　「どうなる？決済業界」" />
          
        </a>
        <span class="label_status_event offer">開催前</span>
      </p>
      
        <span class="label_group mb_5 is_member">
          <a href="https://base.connpass.com/">
            
              <span class="thumbnail_img image_bg" style="background-image: url(https://connpass-tokyo.s3.amazonaws.com/thumbs/37/f6/37f6f1fbb70f3cb2d421b87205e51c26.png);"></span>
            
            <span class="series_title">BASE</span>
          </a>
        </span>
      
      <p class="event_title"><a class="url summary" href="https://base.connpass.com/event/57015/">Paymentgeek Night #1　「どうなる？決済業界」</a></p>
      
      
      
        <p class="event_owner">
          <span class="icon_owner">
          
            <a class="image_link" href="/user/tanaka_yoko_5/">
              
                <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/c6/11/c61132f0af08f7eba73dce943e955215.png" width="16" height="16" title="tanaka_yoko_5" alt="tanaka_yoko_5" />
              
              tanaka_yoko_5</a>
          
           他
          </span>
        </p>
      
      

      <p class="event_place location">
        <span class="icon_place">
        
          
            東京都渋谷区道玄坂2-11-1 (Gスクエア 2F)
          
        
        </span>
      </p>

       
     
      
      <p class="event_participants">
        
        
          
            
            <span class="amount"><span class="amount_over">158</span>/60</span>人
          
        
      </p>
      
      
    </div>
  </div>
</div>

    
      

<div class="event_list vevent">
  
  <div class="event_schedule_area">
    <p class="year">2017</p>
    <p class="date">05/26</p>
    （金）
    <span class="dtstart"><span class="value-title" title="2017-05-26T10:00:00Z"></span></span>
    <span class="dtend"><span class="value-title" title="2017-05-26T12:00:00Z"></span></span>
  </div>
  
  <div class="event_detail_area clearfix">
    <div class="event_label_area">
      <p class="time">19:00〜</p>
      
        
        
        
        
        
        <p class="label_status_tag lottery">抽選中</p>
      
    </div>
    <div class="event_inner">
      <p class="event_thumbnail">
        <a class="image_link" href="https://fintech-engineers-drink-up.connpass.com/event/56057/">
          
            <img class="photo" src="https://connpass-tokyo.s3.amazonaws.com/thumbs/44/01/4401611c03fd339ea57b22890e72fd15.png" width="108" height="72" alt="FinTech Engineers Drink Up #1" />
          
        </a>
        <span class="label_status_event offer">開催前</span>
      </p>
      
        <span class="label_group mb_5 is_member">
          <a href="https://fintech-engineers-drink-up.connpass.com/">
            
              <span class="thumbnail_img image_bg" style="background-image: url(https://connpass-tokyo.s3.amazonaws.com/thumbs/d8/5a/d85ac491e45628191564310c703b4a23.png);"></span>
            
            <span class="series_title">FinTech Engineers Drink Up</span>
          </a>
        </span>
      
      <p class="event_title"><a class="url summary" href="https://fintech-engineers-drink-up.connpass.com/event/56057/">FinTech Engineers Drink Up #1</a></p>
      
      
      
        <p class="event_owner">
          <span class="icon_owner">
          
            <a class="image_link" href="/user/_achiku/">
              
                <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/70/1a/701a727a91a8f3b2aac8e98ac7b0a145.png" width="16" height="16" title="_achiku" alt="_achiku" />
              
              _achiku</a>
          
           他
          </span>
        </p>
      
      

      <p class="event_place location">
        <span class="icon_place">
        
          
            東京都渋谷区道玄坂2-11-1 (Gスクエア 2F)
          
        
        </span>
      </p>

       
     
      
      <p class="event_participants">
        
        
          
            
            <span class="amount"><span class="amount_over">32</span>/30</span>人
          
        
      </p>
      
      
    </div>
  </div>
</div>

    
      

<div class="event_list vevent">
  
  <div class="event_schedule_area">
    <p class="year">2017</p>
    <p class="date">05/16</p>
    （火）
    <span class="dtstart"><span class="value-title" title="2017-05-16T10:30:00Z"></span></span>
    <span class="dtend"><span class="value-title" title="2017-05-16T12:30:00Z"></span></span>
  </div>
  
  <div class="event_detail_area clearfix">
    <div class="event_label_area">
      <p class="time">19:30〜</p>
      
        
        
        <p class="label_status_tag join">申込済</p>
        
        
        
      
    </div>
    <div class="event_inner">
      <p class="event_thumbnail">
        <a class="image_link" href="https://cshack.connpass.com/event/54414/">
          
            <img class="photo" src="https://connpass-tokyo.s3.amazonaws.com/thumbs/33/33/33338c95b8831e0d999704838190f3f9.png" width="108" height="72" alt="【プレゼント有】【増枠】CS HACK #03 ”シェアリング・エコノミーのCSをHACKする！”" />
          
        </a>
        <span class="label_status_event close">終了</span>
      </p>
      
        <span class="label_group mb_5 is_member">
          <a href="https://cshack.connpass.com/">
            
              <span class="thumbnail_img image_bg" style="background-image: url(https://connpass-tokyo.s3.amazonaws.com/thumbs/b3/37/b337d59dbb558a41b03ffa49a900b20c.png);"></span>
            
            <span class="series_title">CS HACK</span>
          </a>
        </span>
      
      <p class="event_title"><a class="url summary" href="https://cshack.connpass.com/event/54414/">【プレゼント有】【増枠】CS HACK #03 ”シェアリング・エコノミーのCSをHACKする！”</a></p>
      
      
      
        <p class="event_owner">
          <span class="icon_owner">
          
            <a class="image_link" href="/user/daisuke_fujimoto/">
              
                <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/70/9e/709e4cc78b4545d12ef2d059f9b44227.png" width="16" height="16" title="Daisuke Fujimoto（藤本 大輔）" alt="Daisuke Fujimoto（藤本 大輔）" />
              
              Daisuke Fujimoto（藤本 大輔）</a>
          
          
          </span>
        </p>
      
      

      <p class="event_place location">
        <span class="icon_place">
        
          
            〒102-8282 東京都千代田区紀尾井町1-3　東京ガーデンテラス紀尾井町　紀尾井タワー
          
        
        </span>
      </p>

       
     
      
      <p class="event_participants">
        
        
          
            
            <span class="amount"><span>132</span>/160</span>人
          
        
      </p>
      
      
    </div>
  </div>
</div>

    
      

<div class="event_list vevent">
  
  <div class="event_schedule_area">
    <p class="year">2017</p>
    <p class="date">05/11</p>
    （木）
    <span class="dtstart"><span class="value-title" title="2017-05-11T10:30:00Z"></span></span>
    <span class="dtend"><span class="value-title" title="2017-05-11T12:30:00Z"></span></span>
  </div>
  
  <div class="event_detail_area clearfix">
    <div class="event_label_area">
      <p class="time">19:30〜</p>
      
        
        
        
        <p class="label_status_tag wait">補欠</p>
        
        
      
    </div>
    <div class="event_inner">
      <p class="event_thumbnail">
        <a class="image_link" href="https://connpass.com/event/56082/">
          
            <img src="https://connpass.com/static/img/common/no_image_108x72.gif" width="108" height="72" alt="ダシイレ調べるおナイト vol.1" />
          
        </a>
        <span class="label_status_event close">終了</span>
      </p>
      
      <p class="event_title"><a class="url summary" href="https://connpass.com/event/56082/">ダシイレ調べるおナイト vol.1</a></p>
      
      
      
        <p class="event_owner">
          <span class="icon_owner">
          
            <a class="image_link" href="/user/dkzks/">
              
                <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/a9/7d/a97dab421605d75cbe777a1da9896056.png" width="16" height="16" title="dkzks" alt="dkzks" />
              
              dkzks</a>
          
           他
          </span>
        </p>
      
      

      <p class="event_place location">
        <span class="icon_place">
        
          
            東京都 港区六本木4-2-45
          
        
        </span>
      </p>

       
     
      
      <p class="event_participants">
        
        
          
            
            <span class="amount"><span class="amount_over">98</span>/70</span>人
          
        
      </p>
      
      
    </div>
  </div>
</div>

    
      

<div class="event_list vevent">
  
  <div class="event_schedule_area">
    <p class="year">2017</p>
    <p class="date">03/28</p>
    （火）
    <span class="dtstart"><span class="value-title" title="2017-03-28T10:00:00Z"></span></span>
    <span class="dtend"><span class="value-title" title="2017-03-28T12:00:00Z"></span></span>
  </div>
  
  <div class="event_detail_area clearfix">
    <div class="event_label_area">
      <p class="time">19:00〜</p>
      
        
        
        <p class="label_status_tag join">申込済</p>
        
        
        
      
    </div>
    <div class="event_inner">
      <p class="event_thumbnail">
        <a class="image_link" href="https://pedia.connpass.com/event/53215/">
          
            <img class="photo" src="https://connpass-tokyo.s3.amazonaws.com/thumbs/2b/78/2b7810daa37005159cd3cea29d699d40.png" width="108" height="72" alt="好評増席#pedia meetup 7「エンジニア起業家による創業からイグジットまでの秘話」" />
          
        </a>
        <span class="label_status_event close">終了</span>
      </p>
      
        <span class="label_group mb_5 is_member">
          <a href="https://pedia.connpass.com/">
            
              <span class="thumbnail_img image_bg" style="background-image: url(https://connpass-tokyo.s3.amazonaws.com/thumbs/91/79/9179565b00787147a6a17d23185c3bb7.png);"></span>
            
            <span class="series_title">Pedia／ペディア</span>
          </a>
        </span>
      
      <p class="event_title"><a class="url summary" href="https://pedia.connpass.com/event/53215/">好評増席#pedia meetup 7「エンジニア起業家による創業からイグジットまでの秘話」</a></p>
      
      
      
        <p class="event_owner">
          <span class="icon_owner">
          
            <a class="image_link" href="/user/shimiko1031/">
              
                <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/2d/b9/2db9030bef12d0bf4b6888fd9986c51d.png" width="16" height="16" title="shimiko1031" alt="shimiko1031" />
              
              shimiko1031</a>
          
           他
          </span>
        </p>
      
      

      <p class="event_place location">
        <span class="icon_place">
        
          
            〒150-0043 東京都渋谷区道玄坂2丁目11−1 (Ｇスクエア2F)
          
        
        </span>
      </p>

       
     
      
      <p class="event_participants">
        
        
          
            
            <span class="amount"><span>44</span>/60</span>人
          
        
      </p>
      
      
    </div>
  </div>
</div>

    
      

<div class="event_list vevent">
  
  <div class="event_schedule_area">
    <p class="year">2016</p>
    <p class="date">11/16</p>
    （水）
    <span class="dtstart"><span class="value-title" title="2016-11-16T10:00:00Z"></span></span>
    <span class="dtend"><span class="value-title" title="2016-11-16T12:30:00Z"></span></span>
  </div>
  
  <div class="event_detail_area clearfix">
    <div class="event_label_area">
      <p class="time">19:00〜</p>
      
        
        
        <p class="label_status_tag join">申込済</p>
        
        
        
      
    </div>
    <div class="event_inner">
      <p class="event_thumbnail">
        <a class="image_link" href="https://pedia.connpass.com/event/42885/">
          
            <img class="photo" src="https://connpass-tokyo.s3.amazonaws.com/thumbs/63/6e/636ebaf9a2c8338421290c7b3d1882ff.png" width="108" height="72" alt="好評増席 #pedia meetup 5「U-25若手起業家による、創業からイグジットまでの秘話」" />
          
        </a>
        <span class="label_status_event close">終了</span>
      </p>
      
        <span class="label_group mb_5 is_member">
          <a href="https://pedia.connpass.com/">
            
              <span class="thumbnail_img image_bg" style="background-image: url(https://connpass-tokyo.s3.amazonaws.com/thumbs/91/79/9179565b00787147a6a17d23185c3bb7.png);"></span>
            
            <span class="series_title">Pedia／ペディア</span>
          </a>
        </span>
      
      <p class="event_title"><a class="url summary" href="https://pedia.connpass.com/event/42885/">好評増席 #pedia meetup 5「U-25若手起業家による、創業からイグジットまでの秘話」</a></p>
      
      
      
        <p class="event_owner">
          <span class="icon_owner">
          
            <a class="image_link" href="/user/SeinaSakaue/">
              
                <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/33/cc/33cc8a011fa29b8e0eff6e92979701cf.png" width="16" height="16" title="seina" alt="seina" />
              
              seina</a>
          
           他
          </span>
        </p>
      
      

      <p class="event_place location">
        <span class="icon_place">
        
          
            東京都渋谷区渋谷1-2-5 MFPR渋谷ビル（旧：アライブ美竹） 9F受付
          
        
        </span>
      </p>

       
     
      
      <p class="event_participants">
        
        
          
            
            <span class="amount"><span class="amount_over">58</span>/55</span>人
          
        
      </p>
      
      
    </div>
  </div>
</div>

    
      

<div class="event_list vevent">
  
  <div class="event_schedule_area">
    <p class="year">2016</p>
    <p class="date">11/01</p>
    （火）
    <span class="dtstart"><span class="value-title" title="2016-11-01T09:00:00Z"></span></span>
    <span class="dtend"><span class="value-title" title="2016-11-01T11:00:00Z"></span></span>
  </div>
  
  <div class="event_detail_area clearfix">
    <div class="event_label_area">
      <p class="time">18:00〜</p>
      
        
        
        <p class="label_status_tag join">申込済</p>
        
        
        
      
    </div>
    <div class="event_inner">
      <p class="event_thumbnail">
        <a class="image_link" href="https://jeek.connpass.com/event/42430/">
          
            <img class="photo" src="https://connpass-tokyo.s3.amazonaws.com/thumbs/53/57/53575469ba0200a1b728a008272196a0.png" width="108" height="72" alt="HR Technology Conference勉強会" />
          
        </a>
        <span class="label_status_event close">終了</span>
      </p>
      
        <span class="label_group mb_5 is_member">
          <a href="https://jeek.connpass.com/">
            
              <span class="thumbnail_img image_bg" style="background-image: url(https://connpass-tokyo.s3.amazonaws.com/thumbs/bf/1c/bf1c4c959c74cd2b05176d184edbecad.png);"></span>
            
            <span class="series_title">JEEK / ジーク</span>
          </a>
        </span>
      
      <p class="event_title"><a class="url summary" href="https://jeek.connpass.com/event/42430/">HR Technology Conference勉強会</a></p>
      
      
      
        <p class="event_owner">
          <span class="icon_owner">
          
            <a class="image_link" href="/user/MotoyukiIsobe/">
              
                <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/70/dc/70dc1ac6bd61199b06445c1c19eed384.png" width="16" height="16" title="磯辺基之（いそべもとゆき）" alt="磯辺基之（いそべもとゆき）" />
              
              磯辺基之（いそべもとゆき）</a>
          
          
          </span>
        </p>
      
      

      <p class="event_place location">
        <span class="icon_place">
        
          
            〒106-0032 東京都港区六本木4-2-45高會堂ビル2階
          
        
        </span>
      </p>

       
     
      
      <p class="event_participants">
        
        
          
            
            <span class="amount"><span class="amount_over">34</span>/30</span>人
          
        
      </p>
      
      
    </div>
  </div>
</div>

    
      

<div class="event_list vevent">
  
  <div class="event_schedule_area">
    <p class="year">2016</p>
    <p class="date">08/01</p>
    （月）
    <span class="dtstart"><span class="value-title" title="2016-08-01T10:30:00Z"></span></span>
    <span class="dtend"><span class="value-title" title="2016-08-01T12:30:00Z"></span></span>
  </div>
  
  <div class="event_detail_area clearfix">
    <div class="event_label_area">
      <p class="time">19:30〜</p>
      
        
        
        <p class="label_status_tag join">申込済</p>
        
        
        
      
    </div>
    <div class="event_inner">
      <p class="event_thumbnail">
        <a class="image_link" href="https://svmeetup.connpass.com/event/36048/">
          
            <img class="photo" src="https://connpass-tokyo.s3.amazonaws.com/thumbs/61/1a/611a1b86c0bd1ce784dadd3d6c43cd57.png" width="108" height="72" alt="8/1(月)19:30開催 KAUMO Meetup ~カウモ設立2周年記念イベント~" />
          
        </a>
        <span class="label_status_event close">終了</span>
      </p>
      
        <span class="label_group mb_5 is_member">
          <a href="https://svmeetup.connpass.com/">
            
              <span class="thumbnail_img image_bg" style="background-image: url(https://connpass-tokyo.s3.amazonaws.com/thumbs/b9/68/b9681ae8a85f05e53cfc3ac31b0c93a8.png);"></span>
            
            <span class="series_title">Skyland Ventures Meetup</span>
          </a>
        </span>
      
      <p class="event_title"><a class="url summary" href="https://svmeetup.connpass.com/event/36048/">8/1(月)19:30開催 KAUMO Meetup ~カウモ設立2周年記念イベント~</a></p>
      
      
      
        <p class="event_owner">
          <span class="icon_owner">
          
            <a class="image_link" href="/user/YoshitakaOkayama/">
              
                <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/f4/b6/f4b664692d73c9919d10ab4c3fe07453.png" width="16" height="16" title="YoshitakaOkayama" alt="YoshitakaOkayama" />
              
              YoshitakaOkayama</a>
          
           他
          </span>
        </p>
      
      

      <p class="event_place location">
        <span class="icon_place">
        
          
            〒150-0043東京都渋谷区道玄坂2-10-12 新大宗ビル3号館531号
          
        
        </span>
      </p>

       
     
      
      <p class="event_participants">
        
        
          
          <span class="amount"><span>72</span></span>人
        
      </p>
      
      
    </div>
  </div>
</div>

    
      

<div class="event_list vevent">
  
  <div class="event_schedule_area">
    <p class="year">2016</p>
    <p class="date">06/02</p>
    （木）
    <span class="dtstart"><span class="value-title" title="2016-06-02T10:30:00Z"></span></span>
    <span class="dtend"><span class="value-title" title="2016-06-02T13:00:00Z"></span></span>
  </div>
  
  <div class="event_detail_area clearfix">
    <div class="event_label_area">
      <p class="time">19:30〜</p>
      
        
        
        
        <p class="label_status_tag wait">補欠</p>
        
        
      
    </div>
    <div class="event_inner">
      <p class="event_thumbnail">
        <a class="image_link" href="https://svmeetup.connpass.com/event/30986/">
          
            <img class="photo" src="https://connpass-tokyo.s3.amazonaws.com/thumbs/a7/8c/a78c5bd1df658041edfbe8c771309eca.png" width="108" height="72" alt="※イベントページURLを変更しました→http://goo.gl/Ir3Dk7" />
          
        </a>
        <span class="label_status_event close">中止</span>
      </p>
      
        <span class="label_group mb_5 is_member">
          <a href="https://svmeetup.connpass.com/">
            
              <span class="thumbnail_img image_bg" style="background-image: url(https://connpass-tokyo.s3.amazonaws.com/thumbs/b9/68/b9681ae8a85f05e53cfc3ac31b0c93a8.png);"></span>
            
            <span class="series_title">Skyland Ventures Meetup</span>
          </a>
        </span>
      
      <p class="event_title"><a class="url summary" href="https://svmeetup.connpass.com/event/30986/">※イベントページURLを変更しました→http://goo.gl/Ir3Dk7</a></p>
      
      
      
        <p class="event_owner">
          <span class="icon_owner">
          
            <a class="image_link" href="/user/kinoshitay/">
              
                <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/e2/84/e28475b93c1116f86ba87c9fd74187c9.png" width="16" height="16" title="kinoshitay" alt="kinoshitay" />
              
              kinoshitay</a>
          
           他
          </span>
        </p>
      
      

      <p class="event_place location">
        <span class="icon_place">
        
          
            〒150-0043東京都渋谷区道玄坂2-10-12 新大宗ビル3号館531号
          
        
        </span>
      </p>

       
     
      
      <p class="event_participants">
        
        
          
            
            <span class="amount"><span class="amount_over">133</span>/52</span>人
          
        
      </p>
      
      
    </div>
  </div>
</div>

    
      

<div class="event_list vevent">
  
  <div class="event_schedule_area">
    <p class="year">2016</p>
    <p class="date">05/31</p>
    （火）
    <span class="dtstart"><span class="value-title" title="2016-05-31T10:30:00Z"></span></span>
    <span class="dtend"><span class="value-title" title="2016-05-31T13:00:00Z"></span></span>
  </div>
  
  <div class="event_detail_area clearfix">
    <div class="event_label_area">
      <p class="time">19:30〜</p>
      
        
        
        <p class="label_status_tag join">申込済</p>
        
        
        
      
    </div>
    <div class="event_inner">
      <p class="event_thumbnail">
        <a class="image_link" href="https://svmeetup.connpass.com/event/32593/">
          
            <img class="photo" src="https://connpass-tokyo.s3.amazonaws.com/thumbs/ba/7c/ba7c4b7b2c2b9b764866cb10c2dd9013.png" width="108" height="72" alt="Skyland Ventures Meetup #17 スタートアップはなぜブログを書くべきなのか？" />
          
        </a>
        <span class="label_status_event close">終了</span>
      </p>
      
        <span class="label_group mb_5 is_member">
          <a href="https://svmeetup.connpass.com/">
            
              <span class="thumbnail_img image_bg" style="background-image: url(https://connpass-tokyo.s3.amazonaws.com/thumbs/b9/68/b9681ae8a85f05e53cfc3ac31b0c93a8.png);"></span>
            
            <span class="series_title">Skyland Ventures Meetup</span>
          </a>
        </span>
      
      <p class="event_title"><a class="url summary" href="https://svmeetup.connpass.com/event/32593/">Skyland Ventures Meetup #17 スタートアップはなぜブログを書くべきなのか？</a></p>
      
      
      
        <p class="event_owner">
          <span class="icon_owner">
          
            <a class="image_link" href="/user/kinoshitay/">
              
                <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/e2/84/e28475b93c1116f86ba87c9fd74187c9.png" width="16" height="16" title="kinoshitay" alt="kinoshitay" />
              
              kinoshitay</a>
          
           他
          </span>
        </p>
      
      

      <p class="event_place location">
        <span class="icon_place">
        
          
            〒150-0043東京都渋谷区道玄坂2-10-12 新大宗ビル3号館531号
          
        
        </span>
      </p>

       
     
      
      <p class="event_participants">
        
        
          
            
            <span class="amount"><span>20</span>/48</span>人
          
        
      </p>
      
      
    </div>
  </div>
</div>

    
  </div>

  
  <div class="paging_area">
  <ul>
    

      
        
          <li class="active"><span>1</span></li>
        
      
        
          <li><a href="?page=2">2</a></li>
        
      

    
      <li><a href="?page=2">次へ&gt;&gt;</a></li>
    
  </ul>
  </div>
  




      </div>
    
    
    <div id="side_area">
      
  <div class="mb_20 text_center">
    
      <a class="image_link" href="https://connpass-tokyo.s3.amazonaws.com/user/41344/31d15d6b939941d7a4757490150a1c09.jpg"><img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/f8/d0/f8d033a6feafadf883fb955a541e9ee9.png" width="180" height="180" title="KeisukeKogure" alt="KeisukeKogure"></a>
    
  </div>

  

  


<div class="round_box mb_20">
  <h3 class="round_box_title_2">
    <a href="/user/KeisukeKogure/follows/">
    
      KeisukeKogureさんのフォロー
      <span class="amount right">
        708
      </span>
      

    
    </a>
  </h3>
  <div class="round_box_inner clearfix">
  
    <ul class="thumb36_block clearfix">
      
      <li>
        <a class="image_link" href="/user/rytich/">
          
          <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/39/9b/399be6c0a42eb32c80c83f3e947a7e9f.png" width="36" height="36" title="rytich" alt="rytich" />
          
        </a>
      </li>
      
      <li>
        <a class="image_link" href="/user/shota_tsuge/">
          
          <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/1b/d6/1bd6b2e7e6757653cc4dbdab92751d97.png" width="36" height="36" title="shota_tsuge" alt="shota_tsuge" />
          
        </a>
      </li>
      
      <li>
        <a class="image_link" href="/user/ikeda_daisuke/">
          
          <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/a0/1f/a01f8a17a0a939b8f1a3efc72553ad1f.png" width="36" height="36" title="ikeda_daisuke" alt="ikeda_daisuke" />
          
        </a>
      </li>
      
      <li>
        <a class="image_link" href="/user/ooba/">
          
          <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/ca/43/ca43a2e3bd77b0f467d4b7f17971b2f0.png" width="36" height="36" title="ooba" alt="ooba" />
          
        </a>
      </li>
      
      <li>
        <a class="image_link" href="/user/yujid_/">
          
          <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/6b/02/6b0223691cb3bd13c9c78d0d3ded9f1b.png" width="36" height="36" title="yujid_" alt="yujid_" />
          
        </a>
      </li>
      
      <li>
        <a class="image_link" href="/user/m2wasabi/">
          
          <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/58/74/58746f31d6f75d142e57d33b409eb969.png" width="36" height="36" title="m2wasabi" alt="m2wasabi" />
          
        </a>
      </li>
      
      <li>
        <a class="image_link" href="/user/mac4071/">
          
          <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/52/b5/52b57b6ae0e73b211d76743a6446046b.png" width="36" height="36" title="mac4071" alt="mac4071" />
          
        </a>
      </li>
      
      <li>
        <a class="image_link" href="/user/shogochiai/">
          
          <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/00/3a/003a828e7c13a287fd543b67ae2aa43c.png" width="36" height="36" title="shogochiai" alt="shogochiai" />
          
        </a>
      </li>
      
      <li>
        <a class="image_link" href="/user/rikuo_hasegawa/">
          
          <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/77/5b/775b03fdc5b9eee97be46a98b28e7565.png" width="36" height="36" title="rikuo_hasegawa" alt="rikuo_hasegawa" />
          
        </a>
      </li>
      
      <li>
        <a class="image_link" href="/user/mckey/">
          
          <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/39/28/3928a262a768486a57332e93ced3427a.png" width="36" height="36" title="mckey" alt="mckey" />
          
        </a>
      </li>
      
      <li>
        <a class="image_link" href="/user/hirokidmc/">
          
          <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/89/0a/890a0afd8100522720a3135b4bbea47d.png" width="36" height="36" title="hiroki murakami" alt="hiroki murakami" />
          
        </a>
      </li>
      
      <li>
        <a class="image_link" href="/user/dkzks/">
          
          <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/f6/e6/f6e6ce37348569fb8947effa8f9ece1c.png" width="36" height="36" title="dkzks" alt="dkzks" />
          
        </a>
      </li>
      
      <li>
        <a class="image_link" href="/user/RyoyaKubota/">
          
          <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/dd/53/dd5368928f5f46c8208f5809b2d2c884.png" width="36" height="36" title="久保田　涼矢" alt="久保田　涼矢" />
          
        </a>
      </li>
      
      <li>
        <a class="image_link" href="/user/SohShimada/">
          
          <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/c6/1a/c61aeb2b1e2db36c30506ed34a2c90d1.png" width="36" height="36" title="SohShimada" alt="SohShimada" />
          
        </a>
      </li>
      
      <li>
        <a class="image_link" href="/user/annotunzdy/">
          
          <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/c5/6c/c56cd2cc8e2cd897e59b5e3f8757a633.png" width="36" height="36" title="annotunzdy" alt="annotunzdy" />
          
        </a>
      </li>
      
      <li>
        <a class="image_link" href="/user/TakahiroSaegusa/">
          
          <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/b8/3d/b83db175178676eb91836ffc5f289809.png" width="36" height="36" title="TakahiroSaegusa" alt="TakahiroSaegusa" />
          
        </a>
      </li>
      
      <li>
        <a class="image_link" href="/user/TakashiVan/">
          
          <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/08/88/0888a09602c2ca2f841e9d4e25807609.png" width="36" height="36" title="TakashiVan" alt="TakashiVan" />
          
        </a>
      </li>
      
      <li>
        <a class="image_link" href="/user/Keisf/">
          
          <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/2b/ff/2bffbfd4a3b4357b7829ca2b1c8d72ee.png" width="36" height="36" title="Keisf" alt="Keisf" />
          
        </a>
      </li>
      
      <li>
        <a class="image_link" href="/user/HirokiWatanabe_/">
          
          <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/a9/c3/a9c3a5d54090e5fdaf9fae3c59a6b92e.png" width="36" height="36" title="HirokiWatanabe_" alt="HirokiWatanabe_" />
          
        </a>
      </li>
      
      <li>
        <a class="image_link" href="/user/JumpeiKomashita/">
          
          <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/43/a6/43a6d3f1fed0dfeefc4258c0f091e7ed.png" width="36" height="36" title="JumpeiKomashita" alt="JumpeiKomashita" />
          
        </a>
      </li>
      
    </ul>
  
  </div>
</div>

<div class="round_box mb_20">
  <h3 class="round_box_title_2">
    <a href="/user/KeisukeKogure/followers/">
    
      KeisukeKogureさんのフォロワー
      <span class="amount right">
      968
      </span>
      
    
    </a>
  </h3>
  <div class="round_box_inner clearfix">
  
    <ul class="thumb36_block clearfix">
      
      <li>
        <a class="image_link" href="/user/rytich/">
          
          <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/39/9b/399be6c0a42eb32c80c83f3e947a7e9f.png" width="36" height="36" title="rytich" alt="rytich" />
          
        </a>
      </li>
      
      <li>
        <a class="image_link" href="/user/shota_tsuge/">
          
          <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/1b/d6/1bd6b2e7e6757653cc4dbdab92751d97.png" width="36" height="36" title="shota_tsuge" alt="shota_tsuge" />
          
        </a>
      </li>
      
      <li>
        <a class="image_link" href="/user/ikeda_daisuke/">
          
          <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/a0/1f/a01f8a17a0a939b8f1a3efc72553ad1f.png" width="36" height="36" title="ikeda_daisuke" alt="ikeda_daisuke" />
          
        </a>
      </li>
      
      <li>
        <a class="image_link" href="/user/ooba/">
          
          <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/ca/43/ca43a2e3bd77b0f467d4b7f17971b2f0.png" width="36" height="36" title="ooba" alt="ooba" />
          
        </a>
      </li>
      
      <li>
        <a class="image_link" href="/user/yujid_/">
          
          <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/6b/02/6b0223691cb3bd13c9c78d0d3ded9f1b.png" width="36" height="36" title="yujid_" alt="yujid_" />
          
        </a>
      </li>
      
      <li>
        <a class="image_link" href="/user/m2wasabi/">
          
          <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/58/74/58746f31d6f75d142e57d33b409eb969.png" width="36" height="36" title="m2wasabi" alt="m2wasabi" />
          
        </a>
      </li>
      
      <li>
        <a class="image_link" href="/user/shogochiai/">
          
          <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/00/3a/003a828e7c13a287fd543b67ae2aa43c.png" width="36" height="36" title="shogochiai" alt="shogochiai" />
          
        </a>
      </li>
      
      <li>
        <a class="image_link" href="/user/rikuo_hasegawa/">
          
          <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/77/5b/775b03fdc5b9eee97be46a98b28e7565.png" width="36" height="36" title="rikuo_hasegawa" alt="rikuo_hasegawa" />
          
        </a>
      </li>
      
      <li>
        <a class="image_link" href="/user/mckey/">
          
          <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/39/28/3928a262a768486a57332e93ced3427a.png" width="36" height="36" title="mckey" alt="mckey" />
          
        </a>
      </li>
      
      <li>
        <a class="image_link" href="/user/hirokidmc/">
          
          <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/89/0a/890a0afd8100522720a3135b4bbea47d.png" width="36" height="36" title="hiroki murakami" alt="hiroki murakami" />
          
        </a>
      </li>
      
      <li>
        <a class="image_link" href="/user/RyoyaKubota/">
          
          <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/dd/53/dd5368928f5f46c8208f5809b2d2c884.png" width="36" height="36" title="久保田　涼矢" alt="久保田　涼矢" />
          
        </a>
      </li>
      
      <li>
        <a class="image_link" href="/user/SohShimada/">
          
          <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/c6/1a/c61aeb2b1e2db36c30506ed34a2c90d1.png" width="36" height="36" title="SohShimada" alt="SohShimada" />
          
        </a>
      </li>
      
      <li>
        <a class="image_link" href="/user/annotunzdy/">
          
          <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/c5/6c/c56cd2cc8e2cd897e59b5e3f8757a633.png" width="36" height="36" title="annotunzdy" alt="annotunzdy" />
          
        </a>
      </li>
      
      <li>
        <a class="image_link" href="/user/TakahiroSaegusa/">
          
          <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/b8/3d/b83db175178676eb91836ffc5f289809.png" width="36" height="36" title="TakahiroSaegusa" alt="TakahiroSaegusa" />
          
        </a>
      </li>
      
      <li>
        <a class="image_link" href="/user/TakashiVan/">
          
          <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/08/88/0888a09602c2ca2f841e9d4e25807609.png" width="36" height="36" title="TakashiVan" alt="TakashiVan" />
          
        </a>
      </li>
      
      <li>
        <a class="image_link" href="/user/HiroyukiNaito/">
          
          <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/03/71/03714e91fb568c956641d7acf32ec290.png" width="36" height="36" title="HiroyukiNaito" alt="HiroyukiNaito" />
          
        </a>
      </li>
      
      <li>
        <a class="image_link" href="/user/come_on_Geeks/">
          
          <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/d0/0e/d00e51c7c11f73a439b07f051decf03d.png" width="36" height="36" title="Bun" alt="Bun" />
          
        </a>
      </li>
      
      <li>
        <a class="image_link" href="/user/Keisf/">
          
          <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/2b/ff/2bffbfd4a3b4357b7829ca2b1c8d72ee.png" width="36" height="36" title="Keisf" alt="Keisf" />
          
        </a>
      </li>
      
      <li>
        <a class="image_link" href="/user/HirokiWatanabe_/">
          
          <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/a9/c3/a9c3a5d54090e5fdaf9fae3c59a6b92e.png" width="36" height="36" title="HirokiWatanabe_" alt="HirokiWatanabe_" />
          
        </a>
      </li>
      
      <li>
        <a class="image_link" href="/user/JumpeiKomashita/">
          
          <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/43/a6/43a6d3f1fed0dfeefc4258c0f091e7ed.png" width="36" height="36" title="JumpeiKomashita" alt="JumpeiKomashita" />
          
        </a>
      </li>
      
    </ul>
  
  </div>
</div>


  

<div class="side_sec_box side_ads_area">

  
  <a href="https://pyq.jp?utm_campaign=release&utm_source=connpass&utm_medium=banner&utm_content=connpass_rside" target="_blank"><img src="https://connpass.com/static/img/ads/all/banner_image_250x250.png" width="250" height="250"></a>
  

</div>



    </div>
    
  </div>
  
  

<div class="text_center footer_ads_area">

  
  <a href="https://pyq.jp?utm_campaign=release&utm_source=connpass&utm_medium=banner&utm_content=connpass_footer" target="_blank"><img src="https://connpass.com/static/img/ads/all/banner_728x90.png" width="728" height="90"></a>
  

</div>



</div>




  <div id="footer">
    <div class="footer_link_area clearfix">
      <div class="layout_column_4 footer_site">
        <div class="mb_5"><a href="https://connpass.com/" title="サイトのトップページへ"><img src="https://connpass.com/static/img/common/sitelogo_295x100.png" alt="connpass" class="connpass">エンジニアをつなぐ<br>IT勉強会支援プラットフォーム</a></div>
        <div class="mb_5">
        
        <a href="https://itunes.apple.com/jp/app/connpass/id723317753?mt=8&uo=4" target="_blank" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/htmlResources/assets/ja_jp//images/web/linkmaker/badge_appstore-lrg.png) no-repeat;width:135px;height:40px;@media only screen{background-image:url(https://linkmaker.itunes.apple.com/htmlResources/assets/ja_jp//images/web/linkmaker/badge_appstore-lrg.svg);}" onClick="cet('Marketing', 'iphone_app_banner', 'footer_banner', undefined, true);"></a>
        
        </div>
        <a href="http://twitter.com/connpass_jp" target="_blank" class="mr_5"><img src="https://connpass.com/static/img/common/icon_twitter_official.png" alt="Twitter公式アカウント"></a>
        <a href="http://www.facebook.com/connpass" target="_blank"><img src="https://connpass.com/static/img/common/icon_facebook_official.png" alt="Facebookページ"></a>

      </div>
      <div class="layout_column_4 footer_help">
        <ul class="cmn_list">
          <li><a href="http://help.connpass.com/" target="_blank" title="connpassのヘルプ">ご利用ガイド</a></li>
          <li><a href="http://help.connpass.com/faq/" target="_blank">よくある質問</a></li>
          <li><a href="https://connpass.com/inquiry/">connpassへのお問い合わせ</a></li>
          <li><a href="https://connpass.com/term/">利用規約</a></li>
          <li><a href="https://connpass.com/about/api/">API</a></li>
          <li><a href="https://connpass.com/law/">特定商取引法に基づく表示</a></li>
          <li><a href="https://connpass.com/privacy/">プライバシーポリシー</a></li>
        </ul>
      </div>
      <div class="layout_column_4 footer_sns">
      <ul class="cmn_list">
        <li class="li_icon_hint"><a href="https://connpass.com/about/" title="connpassの機能をタイムライン風に紹介">機能紹介</a></li>
        <li class="li_icon_hint"><a href="https://connpass.com/about/comparison/" title="connpassと他イベントサイトとの機能比較">他サービスとの比較</a></li>
        <li class="li_icon"><a href="https://connpass.com/explore/">新着イベント</a></li>
        <li class="li_icon_feed"><a href="https://connpass.com/explore/ja.atom" target="_blank">新着イベントfeed</a></li>
        <li class="li_icon_connpass"><a href="http://blog.connpass.com/" target="_blank">公式ブログ</a></li>

      </ul>
      </div>
      <div class="layout_column_4 footer_feedback">
      

<div class="feedback_area">
  <div id="FeedbackForm">
    <p class="em">connpassへのご意見をお聞かせください</p>
    <div class="FollowBox">
      <textarea class="feedback FeedbackText" cols="28" rows="5" name="feedback"></textarea>
      <button class="SendFeedback btn btn_default btn_size_small" disabled="disabled">意見を送る</button>
      <p>返答が必要な方は<a href="https://connpass.com/inquiry/">「connpassへのお問い合わせ」</a>をご利用ください</p>
    </div>
    <div class="PostedBox text_center" style="display:none;">
      <p class="em">ご意見ありがとうございました！</p>
      <p>いただいたご意見はスタッフが確認いたします。個々のご意見に返信できないことを予めご了承ください。</p>
      <button class="link NewFeedback btn btn_default btn_size_small">さらに意見を送る</button>
    </div>
  </div>
</div>


      </div>
    </div>
    <div class="footer_link_area clearfix">
      <div class="footer_beproud"><a href="http://www.beproud.jp/company/" target="_blank"><img src="https://connpass.com/static/img/common/logo_beproud.png" alt="BePROUD" title="BePROUD" />connpass は株式会社ビープラウドが開発・運営しています</a></div>
      <address>&copy; 2017 BeProud, Inc. All Rights Reserved.</address>
    </div>
  </div>


</div>





<script id="EventCreateTemplate" type="text/html">
  <div class="popup">
    <div class="popup_wrapper">
      <div class="popup_header">
        <h2 class="popup_title">イベントを作成する</h2>
        <span class="close_btn_area">
          <span class="btn btn_default btn_size_small corner_none modal-close" title="閉じる"><span class="icon_black_close"></span></span>
        </span>
      </div>
      <div class="popup_contents text_center">
        <p class="font_16 mb_10"><strong>イベント名を入力してください</strong></p>
        <input name="title" type="text" class="form_input_text form_width_450 font_18">

        <div class="mt_10 mb_30">
          <button type="submit" class="EventCreateSubmit btn btn_action btn_size_large" onClick="cet('Create', 'create_event');">イベントを作成</button>
        </div>
        <div class="right">
          <a href="https://connpass.com/group/new/"><span class="icon_red_four_right"></span>グループを作成</a>
        </div>
      </div>
    </div>
  </div>
</script>

<script id="MessageTemplate" type="text/html">
  <p class="message <%= level %>"><%- message %></p>
</script>


<div id="fb-root"></div>



<div id="CurrentUserObj" style="display:none;" ></div>
<div id="CSRFToken" style="display:none;" data-csrftoken="ghcBvZe2g3owwLixEmZWWAxg55cGKcBP"></div>

<script type="text/javascript" src="https://connpass.com/static/js/require.js?20170515100804
"></script>
<script type="text/javascript" src="https://connpass.com/static/js/connpass.min.js?20170515100804
"></script>
<script type="text/javascript">
require.config({
  
  baseUrl: 'https://connpass.com/static/js/',
  locale: 'ja',
  
  onError: function(e) { _ravenQueue.push(e); },
  config: {
    'csrf': {
      CSRF_COOKIE_NAME: 'connpass-csrftoken'
    },
    'sanca': {
      
      LOG_LEVEL: "WARNING",
      HTTP_HOST: 'connpass.com',
      STATIC_URL: 'https://connpass.com/static/',
      MEDIA_URL: 'https://connpass.com/media/',
      API_BASE_URL: 'https://connpass.com/api'
    }
  }
});
</script>

<script type="text/javascript">
require(['raven'], function(Raven) {
  
  var httpHostRegex = new RegExp('\/\/([a-z0-9]+\.)?' + 'connpass.com'.replace(/[\-\[\]\/\{\}\(\)\*\+\?\.\\\^\$\|]/g, "\\$&") + "\/", 'i');
  var ignoreErrors = new RegExp("^Script error$|^Script error\\.$", 'i');

  
  Raven.TraceKit.remoteFetching = false;

  
  Raven.config('https://3fea03183f7a48ca8f1db8c787c6cd23@app.getsentry.com/83578', {
    whitelistUrls: [httpHostRegex],
    ignoreErrors: [ignoreErrors],
    ignoreUrls: [
        // Facebook
        /graph\.facebook\.com/i,
        /connect\.facebook\.net\/.+\/sdk\.js/i,
        // Twitter
        /platform\.twitter\.com\/widgets\.js/i,
        // Chrome extensions
        /extensions\//i,
        /^chrome:\/\//i
    ],
    fetchContext: false 
  }).install();
  
  
  require.config({onError: Raven.captureException});

  
  for (var i = 0; i < _ravenQueue.length; i+=1) {
    if (_ravenQueue[i] instanceof Error) {
      Raven.captureException(_ravenQueue[i]);
    } else {
      
      var msg = _ravenQueue[i].message;
      var fileurl = _ravenQueue[i].culprit;
      if (!ignoreErrors.test(msg) && httpHostRegex.test(fileurl)) {
        Raven.captureMessage(msg, {culprit: fileurl});
      }
    }
  };
});
</script>


<script type="text/javascript">
  require([
    'jquery', 'jquerytools/tooltip.dynamic',
    'jquerytools/tooltip.slide', 'design'
  ], function($, Views) {
    $(function() {
      $('.Help').tooltip({
        effect: 'slide',
        position: 'bottom center',
        offset: [20, 0],
      }).dynamic({
        bottom: {
          direction: 'down',
          bounce: true
        }
      });
    });
  });

  require(['jquery', 'cs!sanca/views/personal_menu'], function($, Views) {
    var personal_menu = new Views.PersonalMenu({
      el: '#header',
      dropdown_el: '#personalMenu'
    });
  });

  require(['jquery', 'cs!sanca/views/feedback'], function($, Views) {
    var feedbackform = new Views.FeedbackView({
      el: '#FeedbackForm'
    });
  });

</script>
<script type="text/javascript">
  window.fbAsyncInit = function() {
    FB.init({
      version: 'v2.8',
      status: true,
      appId: '259235460759625',
      xfbml: true  // Like btn
    });
    FB.Event.subscribe('edge.create', function(targetUrl) {
      typeof cst === "function" && cst('facebook', 'like', targetUrl);
    });
    FB.Event.subscribe('edge.remove', function(targetUrl) {
      typeof cst === "function" && cst('facebook', 'unlike', targetUrl);
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/ja_JP/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

</body>
</html>
